.myfont{
    font-family: inherit;
    color: aliceblue;
}
.mySubfont{
    font-family: Helvetica, sans-serif;
    color: rgba(158, 195, 195, 0.409) !important;
}
.myImgHome{
    width: 50% !important;
}
.myImgAbout{
    width: 35% !important;
}
.footer{
    font-style: italic;
    color: rgba(240, 248, 255, 0.395);
    background-color:initial;
    background-size: auto;
}
.myNavBar{
    background-color:rgba(158, 195, 195, 0.409) !important;
}
.indexBox{
    background-color: rgba(245, 245, 245, 0.681);
}
.videoBoxBig{
    background-color: rgba(240, 247, 247, 0.288) !important;
}
.videoBoxSmall{
    background-color: rgba(245, 245, 245, 0.681);
}
.myAboutBox{
    width: 800px;
    margin-right: 0px !important;
    padding: 0%;
}