.myfont{
    font-family: inherit;
    color: aliceblue;
}
.mySubfont{
    font-family: Helvetica, sans-serif;
    color: rgba(158, 195, 195, 0.409) !important;
}
.myImgHome{
    width: 50% !important;
}
.myImgHome2{
    width: 51% !important;
}
.myImgAbout{
    width: 35% !important;
}
.footer{
    font-style: italic;
    color: rgba(240, 248, 255, 0.395);
    background-color:initial;
    background-size: auto;
}
.myNavBar{
    background-color:rgba(158, 195, 195, 0.409) !important;
}
.indexBox{
    background-color: rgba(245, 245, 245, 0.681);
    margin-top: 0% !important;
}
.videoBoxBig{
    background-color: rgba(240, 247, 247, 0.288) !important;
}
.videoBoxSmall{
    background-color: rgba(245, 245, 245, 0.681);
}
.myAboutBox{
    width: 800px;
    margin-right: 0px !important;
    background-color: initial !important;
    background-color: rgba(245, 245, 245, 0.533) !important;
}
.myAboutBoxPlacement1{
    margin-top: -33rem !important;
}
.myAboutBoxPlacement2{
    margin-top: -44rem !important;
}
.myAboutBoxPlacement3{
    margin-top: -33rem !important;
}
.tableauCenter{
    width: 800px;
    margin-left: 0px;
}
.videoCenter{
    margin-right: 0%;
    margin-left: 60%;
    margin-top: -55rem !important;
}
.videoCenter2{
    margin-right: 0%;
    margin-left: 60%; 
}
.myImgScratch{
    width: 18%;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}